.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 10%;
    padding: 1%;
    text-align: center;
}
.nav {
    width: 73%;
    padding: 1%;
}
ul {
    margin-left: auto;
}
footer ul {
    display: flex;
    justify-content: space-around;

}

.heroImg {
height: 600px;
padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}

.my_img img {
    width: 100%;
}
.footer {
    background-color: #373738;
    color: #ffffff;
}